*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    background-color: #14171c;
    color: whitesmoke;
    font-family: sans-serif;

    word-wrap: break-word;
    word-break: break-all;

    -ms-overflow-style: none;
    scrollbar-width: none;

    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

code,
code * {
    font-family: monospace;
    font-weight: bold;
}

h1 {
    margin: 0.3em 0 0.3em 0;
}

body {
    margin: auto;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    max-width: 1350px;
    padding: 3em;
}

.utterances {
    margin: initial;
    margin-top: 2em;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        -webkit-animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;

        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;

        -webkit-transition-duration: 0.01ms !important;
        -o-transition-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;

        scroll-behavior: auto !important;
        scroll-behavior: auto;
    }
}
