:root {
    color-scheme: dark;

    --bg: #181818;
    --bg1: #202020;
    --pr: #87afaf;

    --quote-border: 2px solid whitesmoke;
    --comment-padding: 0.8em;
    --comment-spacing: 1.3em;

    --comment-section-spacing: 0.5em;

    --author-clr: lightgray;
    --author-sc: gray;
    --admin-clr: #af5f5f;

    --settings-padding: 0.3em;

    --min-textbox-height: 5rem;
}

*,
*::before,
*::after {
    scrollbar-width: none;
    -ms-overflow-style: none;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    word-wrap: break-word;

    scroll-behavior: smooth;
    background-color: var(--bg);

    color: whitesmoke;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: auto;
    padding: 2rem;
    max-width: 1100px;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

li {
    margin: var(--comment-section-spacing);
}

pre {
    white-space: pre-wrap;
    margin: 0;
}

#count,
a {
    color: var(--pr);
    text-decoration: none;
}

a {
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

button {
    border: none;
    cursor: pointer;
}

textarea {
    resize: vertical;
    min-height: var(--min-textbox-height);
}

.comment-section {
    margin: 1rem;
}

.comment-section > :first-child {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 1em 1fr 1em 1fr;
    grid-template-columns: 4fr 1fr 1fr;
    grid-gap: 1em;
}

.comment-section > :first-child > textarea {
    padding: var(--comment-padding);
    border: none;
    border-left: var(--quote-border);
}

button {
    background-color: var(--bg1);
}

#admin button {
    padding: 1em;
}

#comments {
    padding: 0;
}

#comments > li:not([data-readmore]):not([data-skip]) > :first-child {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: -webkit-max-content var(--comment-section-spacing) auto;
    -ms-grid-columns: max-content var(--comment-section-spacing) auto;
    grid-template-columns: -webkit-max-content auto;
    grid-template-columns: max-content auto;
    grid-gap: var(--comment-section-spacing);
}

#comments
    > li:not([data-readmore]):not([data-skip])
    > :first-child
    > :nth-child(2) {
    color: var(--author-clr);
    margin-bottom: var(--comment-section-spacing);
}

#comments
    > li:not([data-readmore]):not([data-skip])
    > :first-child
    > :nth-child(2)::after {
    content: " says ...";
    font-style: italic;
    color: var(--author-sc);
}

#comments > li {
    list-style: none;
    margin-bottom: var(--comment-spacing);
    border-left: var(--quote-border);
    padding: var(--comment-padding);
}

#comments > li:not([data-readmore]):not([data-skip]) > :nth-child(2)::before,
#comments > li:not([data-readmore]):not([data-skip]) > :nth-child(2)::after {
    color: var(--author-sc);
}

#comments > li:not([data-readmore]):not([data-skip]) > :nth-child(2)::before {
    content: '" ';
}

#comments > li:not([data-readmore]):not([data-skip]) > :nth-child(2)::after {
    content: ' "';
}

.highlight-comment {
    --bg: var(--bg1);
}

#settings-out,
#apply {
    padding: var(--settings-padding);
}

#settings-out *,
#apply * {
    width: 100%;
}

#settings,
#settings *,
#apply,
#apply * {
    margin-bottom: var(--comment-section-spacing);
}

.admin {
    --author-clr: var(--admin-clr);
    color: var(--author-clr);
}

@media only screen and (max-width: 800px) {
    .comment-section > :first-child,
    .comment-section > :first-child * {
        display: block;
        width: 100%;
        margin-bottom: var(--comment-section-spacing);
    }

    .comment-section > :first-child > button {
        padding: 1em;
    }
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        -webkit-animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;

        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;

        -webkit-transition-duration: 0.01ms !important;
        -o-transition-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;

        scroll-behavior: auto !important;
    }
}
